# Token with the read and admin scopes you need
token = ''

# Base URL of your instance, without a trailing slash
base_url = 'https://im-in.space'

# Discord webhook URL for trends for review
whook_trends_rev = 'https://discord.com/api/webhooks/[channel id]/' + \
                   '[token]'

# Discord webhook URL for (auto-)approved trends
whook_trends_ok = 'https://discord.com/api/webhooks/[channel id]/' + \
                  '[token]'

# Discord webhook URL for registrations
whook_reg = 'https://discord.com/api/webhooks/[channel id]/' + \
            '[token]'

# API key from verifier.meetchopra.com to check if email is valid
# and not from a disposable provider. Set to `False` to disable
verifier_key = False

# Discord user id to ping if a new user triggers one of the checks.
# Set to `False` to disable
discord_uid = False

# Enable auto-approving trends (Mastodon >=4.1.3)
trends_auto = False

# List of strings to prevent auto-approval (ie. some begposts to vet)
trends_hold = [
    'donate',
    'support',
    'paypal',
    'kofi',
    'ko-fi',
    'sponsor'
]
